<div class="container">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      pt-3
      pb-2
      mb-3
      border-bottom
    "
  >
    <h2 class="h2">Category List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of Category; let i = index">
          <th scope="row">{{ category.id }}</th>
          <td>{{ category.name }}</td>
          <td>
            <img
              height="100px"
              src="{{ category.image }}"
              alt="{{ category.name }}"
            />
          </td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-primary"
              routerLink="/edit-category/{{ category.id }}"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.7)"
  template="<img height='100px' src='https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-18-223_512.gif' />"
>
</ngx-spinner>
