<div class="form-signin w-100 m-auto custom-Container">
  <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
    <div class="mb-3">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter name"
        required
      />
    </div>
    <div class="mb-3">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        value="1234"
        required
      />
    </div>
    <div class="mb-3">
      <label>Avatar</label>
      <input
        type="avatar"
        class="form-control"
        formControlName="avatar"
        placeholder="avatar"
        value="https://api.lorem.space/image/face?w=640&h=480"
        required
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </div>
  </form>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.7)"
  template="<img height='100px' src='https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-18-223_512.gif' />"
>
</ngx-spinner>
